<p id="notice"><%= notice %></p>

<p>
  <strong>References:</strong>
  <%= @inventory.user %>
</p>

<p>
  <strong>References:</strong>
  <%= @inventory.item %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @inventory.stock %>
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
