<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">Zombie Apocalypse Survival</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to 'Dashboard', users_dashboard_index_path, class:"nav-link" %>
        </li>

         <% if current_user.admin? %>

          <li class="nav-item">
                <%= link_to 'Manage Items', items_path, class:"nav-link" %>
          </li>

          <li class="nav-item">
                <%= link_to 'Reports', users_dashboard_reports_path, class:"nav-link" %>
          </li>
        
        <% end %>

        <% if current_user.survivor? %>
          
          <li class="nav-item">
            <%= link_to 'Survivors', users_survivors_index_path, class:"nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to 'My Location', locations_path, class:"nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to 'My Trades', trades_path, class:"nav-link" %>
          </li>

        <% end %>

        <li>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class:"nav-link" %>
        </li>
      <% else %>

        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>

        <li>
          <%= link_to 'Log In', new_user_session_path, class:"nav-link" %>
        </li>

        <li>
          <%= link_to 'Sign Up', new_user_registration_path, class:"nav-link" %>
        </li>

      <% end %>

    </ul>
  </div>
</nav>