<div class="container">
    <div class="row">
    <div class="col-md-3">
      <div class="card-counter danger">
        <i class="fa fa-code-fork"></i>
        <span class="count-numbers"><%= @infected%>%</span>
        <span class="count-name">Infected Survivors</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter primary">
        <i class="fa fa-ticket"></i>
        <span class="count-numbers"><%= @non_infected%>%</span>
        <span class="count-name">Non-infected Survivors</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter success">
        <i class="fa fa-database"></i>
        <span class="count-numbers"><%= @infection_point_lost%></span>
        <span class="count-name">Point Lost</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter info">
        <i class="fa fa-users"></i>
        <span class="count-numbers"><%= @total_survivors %></span>
        <span class="count-name">Survivors</span>
      </div>
    </div>
  </div>
</div>

<%= render 'items_report' %>