<p id="notice"><%= notice %></p>

<h1>Infections</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @infections.each do |infection| %>
      <tr>
        <td><%= link_to 'Show', infection %></td>
        <td><%= link_to 'Edit', edit_infection_path(infection) %></td>
        <td><%= link_to 'Destroy', infection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Infection', new_infection_path %>
