<%= form_with(model: trade) do |form| %>
  <% if trade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trade.errors.count, "error") %> prohibited this trade from being saved:</h2>
      <ul>
        <% trade.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :base_trader_id, value:current_user.id %>
  <%= form.hidden_field :trader_id, value:@trader.id %>

  <%= render 'trader_inventories', form: form, trade: trade, inventories: @base_trader_inventories, trader: current_user %>
  <%= render 'trader_inventories', form: form, trade: trade, inventories: @trader_inventories, trader: @trader %>
  <div class="actions">
    <%= form.submit 'Send Offer', class:"btn btn-success form-control btn-lg" %>
  </div>
<% end %>
