<h1>Trades</h1>
<hr>
<h2>My Trades</h2>

<table>
  <thead>
    <tr>
      <th>Base Trader</th>
      <th>Trader</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @base_trades.each do |trade| %>
      <tr>
        <td><%= trade.base_trader.name %></td>
        <td><%= trade.trader.name %></td>
        <td><%= trade.status %></td>
        <td><%= link_to 'Show History', trade_trade_histories_path(trade) %></td>
        <% if trade.status == 'pending'%>
         <td><%= link_to 'Cancel Trade', trade_path(:id => trade.id, :status => 'canceled'), method: :put, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>
<h2>Offered Trades</h2>

<table>
  <thead>
    <tr>
      <th>Base Trader</th>
      <th>Trader</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trades.each do |trade| %>
      <tr>
        <td><%= trade.base_trader.name %></td>
        <td><%= trade.trader.name %></td>
        <td><%= trade.status %></td>
        <td><%= link_to 'Show History', trade_trade_histories_path(trade) %></td>
        <% if trade.status == 'pending'%>
         <td><%= link_to 'Reject Trade', trade_path(:id => trade.id, :status => 'rejected'), method: :put, data: { confirm: 'Are you sure?' } %></td>
         <td><%= link_to 'Accept Trade', trade_path(:id => trade.id, :status => 'accepted'), method: :put, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>