<%= form_with(model: location) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
        <% location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :user_id %> 
  </div>

  <div class="field">
    <%= form.label :lat %>
    <%= form.text_field :lat, value:'' %>
  </div>

  <div class="field">
    <%= form.label :lng %>
    <%= form.text_field :lng, value:'' %>
  </div>

  <div class="field">
    <%= form.hidden_field :current %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
