<p id="notice"><%= notice %></p>

<h1>Locations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Lat</th>
      <th>Lng</th>
      <th>Current</th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.user_id %></td>
        <td><%= location.lat %></td>
        <td><%= location.lng %></td>
        <td><%= location.current %></td>
        <%# <td><%= link_to 'Show', location </td>
        <td><%= link_to 'Edit', edit_location_path(location) </td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } </td> %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Change Location', new_location_path %>
